<div class="container">

  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->

  <div class="row">

    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <sebm-google-map-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng">
       <sebm-google-map-info-window [disableAutoPan]="true">
         {{ marker.info }}
       </sebm-google-map-info-window>
     </sebm-google-map-marker>
    </sebm-google-map>
  </div>

  <div class="row">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Data de Validade</th>
          <th>Localização</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supply of supplies">
          <td>{{ supply.name }}</td>
          <td>{{ supply.type }}</td>
          <td>{{ supply.validate.formatted }}</td>
          <td>{{ supply.location }}</td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>
</div>
